*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}
body, html{
	font-family: Garamond;
}
.container{
	display: flex;
}
.section-left{
	width: 25%;
	background-color: Lavender;
}
.section-right{
	width: 75%;
}

.left-top{
	height: 500px;
	
}

.left-bottom{
	height: 300px;
}

.right-top{
	height: 150px;
	background-color: Indigo;
	color: #fff;
	font-size: 200%;
	text-align: center;
}

h1{
	padding-top: 30px;
}

.right-bottom{
	height: 650px;
	background-color: Lavender;
	font-size: 200%;
	text-align: center;
}
.right-bottom p{
	color: Indigo;
	margin-top: 20px;
	margin-bottom: 30px;
}

footer{
	background-color: Indigo;
	color: #fff;
	text-align: right;
}
ul, ol{
	margin-left: 40px;
	
}

ul{
	list-style-type: square;
	margin-top: 20px;
	margin-bottom: 20px;
}

img{
	padding: 5px;
	margin: 10px;
}

img:hover{
	padding: 4px;
	border: 1px solid Indigo;
}
#btn{
	width: 100px;
	height: 30px;
	
}