body {
    margin: 10px auto;
    width: 850px;
    font: 18px Arial;
    }
    header, nav, main {
    outline: 1px solid;
    }
    nav , main {
    float: left;
    min-height:300px;
    }
    nav{
    width: 40%;
    }
    main {
    width: 60%;
    }
    p, nav a {
    margin: 10px;
    }
    a {
    text-decoration: none;
    display: block;
    }
	a:hover{
		color: Darkred;
	}
    input{
        margin-top: 2%;
        margin-left: 2%;
    }
	input:hover{
		background-color: silver;
		box-chadow: 5px 10px #888888;
	}
	button{
		border-radius: 50%;
		border: solid black 2px;
		width: 50px;
		height: 50px;
	}
	button:hover{
		background-color: silver;
	}
    