
.wrapper{
	display: flex;
}
header{
	background-color: #E8C84E;
	height: 50px;
	font-size: 130%;
	text-align: center;
}
.main_left{
	background-color: #FFB544;
	height: 500px;
	width: 40%;
	font-size: 130%;
	
}
.main_mid{
	
	height: 500px;
	width: 30%;
	text-align: center;
	
}
.main_right{
	background-color: #FFB544;
	height: 500px;
	width: 30%;
	font-size: 130%;
	text-align: center;
	
}
footer{
	background-color: #E8C84E;
	height: 50px;
	text-align: right;
	padding: 10px;
		
}
ul{
	padding-top: 30px;
	background-color: #FFAA00;
}

img, h3{
	margin-top: 50px;
}
form{
	margin-bottom: 100px;
}