*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #EEEEEE;
	
}
.container{
	width: 1000px;
	margin: auto;
	text-align: center;
}
.wrapper{
	display: flex;
}
.logo, .nav, footer{
	background-color: #C0C0C0;
	height: 100px;
	padding-top: 10px;
	padding-bottom: 10px;	
}
.logo{
	width: 400px;
}
.nav{
	width: 600px;
}
header{
	background-color: #DDDDDD;
	height: 200px;
}

main{
	margin: 50px;
}


hr{
	background-color: #C0C0C0;
	width: 70%;
	size: 2px;
	margin-left: 100px;
	margin-top: 10px;
}

footer{
	text-align: right;
}
a{
	color: #555555;
	margin: 50px;
	font-size: 200%;
	text-decoration: none;
}

table{
	text-align: left;
}
#ul{
	text-align: left;
	margin-left: 35%;
}