
body{
	font-family: Georgia;
}


header{
	display: flex;
}

footer{
	display: flex;
}
.header_menu, .header_logo{
	background-color: #63AC74;
	color: orange;
	height: 140px;
	width: 50%;
	text-align: right;
	font-size: 160%;
}
main{
	background-color: #E3F6E7;
	height: 500px;
	padding: 20px;
}
.footer_img, .footer_about, .footer_phon, .footer_autor{
	background-color: #63AC74;
	height: 150px;
	width: 25%;
}
a{
	color: orange;
	margin: 15px;
	
}
table{
	width: 100%;
	border: 2px solid green;
}
th {
	background-color: #63AC74;
	color: #fff;
}
td:nth-child(4){
	text-align: right;
	
}