body{
	margin: 0;
	padding:0;
	background-color: #99FFCC;
}
.wrapper{
	width: 1000px;
	margin: auto;
}
header{
	background-color: #99FF66;
	height: 200px;
}
nav{
	background-color: #66CCFF;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;	
}
main{
	display: flex;
}
.main_left, .main_mid, .main_right{
	width: 310px;
	padding: 10px;
}
footer{
	background-color: #66CCFF;
	color: #006666;
	text-align: right;
	height: 30px;
	padding: 20px;	
}
nav a{
	color: #006666;
	margin: 50px;
	font-size: 200%;
	text-decoration: none;
	
}
h2, h3{
	text-align: center;
}
#reset{
	background-color: #ff0000;
}
#up{
	background-color: #00FF00;
}